# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
****************************************************************************************/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
*-dev.md

keystone-backend/schema.prisma
keystone-backend/schema.graphql
keystone-backend/keystone-example.db
keystone-backend/.keystone
csv_import/*

.vscode
*.js

node-backend/fs_cache
node-backend/csv_import

secret
temp
.next
*.sql

# Generated client
keystone-backend/generated/

# ReactEdge package entry points
!reactedge/release/source/**/*.js

# Ignore IIFE build artifacts
reactedge/release/source/**/*.iife.js
!reactedge/release/source/**/*.js.map